body{
  background-color:aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  height: 430px;
  width: 320px;
  background-color: burlywood;
}
.upper{
  height: 65px;
  width: 320px;
  background-color: brown;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  font-size: 17px;
}
.main-lower{
  margin-top: 10px;
  height: 350px;
  width: 320px;
  background-color: cornflowerblue;
}
.firstHalf{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 105px;
  font-size: 17px;
}
.pass{
  font-size: 20px;
  text-align: center;
}
.char{
  height: 20px;
  
  margin-top: 10px;
  display: inline;
}
.num-output{
  margin-top: 10px;
  display: inline;
}
.container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.range{
  width: 80%;
}

.secondHalf{
  margin-top: 15px;
  margin-left: 10px;
}
.check{
  margin-top: 10px;
}